.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/images/bg-stars.svg');
    background-color:hsl(234, 17%, 12%); 
    width: 100%;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    position: relative;
}
html {
    font-size: 62.5%;
}
.container {
    height: 85vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flex .heading {
    color: white;
    padding-left: 6rem;
    padding-top: 13rem;
    margin-bottom: 10rem;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 4px;
}
.flex .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 6rem;
}
.boxes .child {
 
    background-color: hsl(236, 21%, 26%);
    border-radius: 8px;
    position: relative;
}
.child div {
    width: 12rem;
    height: 10rem;
    margin-top: .7rem;
    font-size:7rem;
    color: hsl(345, 95%, 68%);
    padding-left: 1.8rem;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}
.child div::before , .child div::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: calc(50% - 7px);
    
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.child div::after {
    right: -.9rem;
}
.child div::before {
    left: -.9rem;
}
.child h3 {
    position: absolute;
    bottom: -2.5rem;
    left: 3.4rem ;
    color:hsl(237, 18%, 59%) ;
    font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}
footer .icons {
    width: 100%;
    height: 14.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-image: url('/images/pattern-hills.svg'); 
    
}
.icons svg {
    cursor: pointer;
}
@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}



@media (max-width: 767px) {
    body {
    background-image: url('/images/bg-stars.svg');
    background-color: hsl(235, 16%, 14%); 
    width: 100%;
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    position: relative;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
    .flex .heading {
    color: white;
    padding-left: .7rem;
    padding-top: 8rem;
    margin-bottom: 8rem;
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 4px;
}
.flex .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    margin-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.boxes .child {
    width:7rem;
    height: 7rem;
    background-color: hsl(234, 17%, 12%);
    border-radius: 5px;
    position: relative;
   
}
.child div {
    font-size: 4.6rem;
    color: hsl(345, 95%, 68%);
     padding-left: 1rem;
    letter-spacing: 2px;
}
.child h3 {
    position: absolute;
    bottom: -1rem;
    left: 1.5rem ;
    color:hsl(237, 18%, 59%) ;
    font-size: .7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-image: url('/images/pattern-hills.svg'); 
    background-repeat: no-repeat;
    background-size: cover;

}
}